.delivery {
  background-color: #fcf6f0;
  padding-top: 70px;
  padding-bottom: 130px;

  &__img {
    position: absolute;
    top: -70px;
    right: 0;
  }
  &__wrapper {
    max-width: 1220px;
    text-align: left;
    margin: 0 auto;
    position: relative;
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #263520;
    position: relative;
    padding-left: 25px;
    a {
      color: #263520;
    }
    &::after {
      position: absolute;
      content: "";
      top: 10px;
      left: 0;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background-color: #cbb2aa;
    }
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #263520;
  }
  &__title-mt {
    margin-top: 20px;
  }
  &__title-reference {
    margin-top: 70px;
  }
  &__reference-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #263520;
  }
  &__reference {
    list-style-type: none;
  }
}

@media (max-width: 1650px) {
  .delivery__title {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .delivery__title-reference {
    font-size: 45px;
  }
  .delivery__item,
  .delivery__text,
  .delivery__reference-text {
    font-size: 21px;
  }
  .delivery__item::after {
    top: 8px;
  }
}
@media (max-width: 1199px) {
  .delivery {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .delivery__title {
    font-size: 40px;
  }
  .delivery__title-reference {
    font-size: 40px;
  }
  .delivery__item,
  .delivery__text,
  .delivery__reference-text {
    font-size: 19px;
  }
  .delivery__item::after {
    top: 6px;
  }
  .delivery__img {
    width: 450px;
    top: -50px;
  }
}
@media (max-width: 991px) {
  .delivery__img {
    display: none;
  }
}
@media (max-width: 767px) {
  .delivery__title {
    font-size: 35px;
    text-align: center;
  }
  .delivery__title-reference {
    font-size: 35px;
    text-align: center;
  }
  .delivery__item,
  .delivery__text,
  .delivery__reference-text {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .delivery {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .delivery__title {
    font-size: 25px;
  }
  .delivery__title-reference {
    font-size: 25px;
  }
  .delivery__item,
  .delivery__text,
  .delivery__reference-text {
    font-size: 16px;
  }
  .delivery__item::after {
    width: 10px;
    height: 10px;
  }
  .delivery__item {
    padding-left: 15px;
  }
}
@media (max-width: 375px) {
  .delivery__title {
    font-size: 20px;
  }
  .delivery__title-reference {
    font-size: 20px;
  }
}
